body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    
}

h1 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ccc;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

select {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}