/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 dic 2023, 13:56:27
    Author     : david
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
}

header {
    background-color: #62198a;
    color: #ffffff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.search-bar input {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.user-profile a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.pelicula {
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
}

.pelicula h3 {
    margin: 0 0 10px;
    color: #ffffff;
}

.pelicula img {
    width: 100%;
    height: auto;
    border: 1px solid #333;
    border-radius: 5px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}